/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 21 de set. de 2021, 22:03:57
    Author     : birse
*/

/* geral */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  color: #323232;
  border: none;
}


.logo {
    width: 80px;
    height: 100%;
}

/* container cadastro */
#cadastro-container {
  background-color: #FFF;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  padding: 20px 30px;
  margin-top: 10vh;
  border-radius: 10px;
  text-align: center;
}

body {
  background-color: gainsboro;
  background-size: cover;
  background-position-y: -200px;
}

textarea:focus, input:focus{
  outline: none;
}

a {
  font-size: .8rem;
}

a:hover {
  color: #00a2a7;
}

/* container login */
#login-container {
  background-color: #FFF;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  padding: 20px 30px;
  margin-top: 10vh;
  border-radius: 10px;
  text-align: center;
  }

label, input {
  display: block;
  width: 100%;
  text-align: left;
  outline: none;
}

label {
  font-weight: bold;
  font-size: .8rem;
}

input {
  border-bottom: 2px solid #323232;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
}

input:focus {
  border-bottom: 2px solid #00a2a7;
}

#forgot-pass {
  display: block;
  text-align: right;
}

input[type="submit"] {
  text-align: center;
  text-transform: uppercase;
  border: none;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  color: #FFF;
  background-color: #00a2a7;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: #3c3078;
  transition: .5s;
}

.page-item.active.page-link {
  color: #00a2a7!important;
  background-color: #3c3078 !important;
  border-color: #3c3078!important;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 20px;
}

.page-link {
  color: #FFF !important;
  background-color: #00a2a7!important;
  border: 1px solid #dee2e6!important;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 20px;
}

.page-link:hover {
  color: #FFF !important;
  background-color: #3c3078 !important;
  transition: .5s;
}
